mixin radio_buttons()
    .radio_buttons
        b radio buttons 
        .radio_buttons__container
            .radio_buttons__wrapper#first
                label(for="checkbox11")  
                    input(type="checkbox" id='checkbox11' class='radio_buttons_checklist__checkbox')
                    .radio_buttons_checklist__overlay
                        .radio_buttons_checklist__overlay__radio
                    .radio_buttons_checkbox_value
                        span Мужчина
            .radio_buttons__wrapper   
                label(for="checkbox12")  
                    input(type="checkbox" id='checkbox12' class='radio_buttons_checklist__checkbox')
                    .radio_buttons_checklist__overlay 
                        .radio_buttons_checklist__overlay__radio  
                    .radio_buttons_checkbox_value
                        span Женщина   