mixin radio_buttons(title, radioName1, radioName2)
    .radio_buttons
        b= title 
        .radio_buttons__container
            .radio_buttons__wrapper#first
                label(for= radioName1)  
                    input(type="radio" id= radioName1 name="test" class='radio_buttons_checklist__checkbox')
                    .radio_buttons_checklist__overlay
                        .radio_buttons_checklist__overlay__radio
                    .radio_buttons_checkbox_value
                        span Мужчина
            .radio_buttons__wrapper   
                label(for= radioName2)  
                    input(type="radio" id= radioName2 name="test" class='radio_buttons_checklist__checkbox')
                    .radio_buttons_checklist__overlay 
                        .radio_buttons_checklist__overlay__radio  
                    .radio_buttons_checkbox_value
                        span Женщина   