mixin enter()
    .enter
        .enter_text Войти
        .enter_inputs
            +text_field('', 'Email')
            +text_field('', 'Пароль')
            +button__pay('войти')
        .enter_createButton
            span Нет аккаунта на Toxin?
            +button__click_me_two('click me')