<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        
        //- Подключение библиотеки jQuery
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

        //- Подключение плагина Air-Datepicker
        link(href="../node_modules/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css")
        script(src="../node_modules/air-datepicker/dist/js/datepicker.min.js")

        link(href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="app.css")
        
        
    body
        include Form_Elements/text_field/text_field
        +text_field('Данные')
        
        
        
        
        script(src="app.js")