include ../../Form_Elements/rate_button/rate_button
mixin 888_room()
    .room_888
        .room_888__img
            img(src="../src/images/888_room.png", alt="")
            .room_888__page
                .room_888__page__one
                .room_888__page__two
                .room_888__page__three
                .room_888__page__four
        .room_888__price  
            .room_888_number 
                span №
                    span 888 
                    span.luxe люкс
            .room_888_price 
                span 9900P 
                    span в сутки
        .room_888_line
        .room_888_feedback
            .room_888_feedback_stars
                +rate_button()
            .room_888_feedback_comment 
                span 145 
                    span Отзывов


        