mixin checkbox_buttons()
    .checkbox_buttons
        b checkbox buttons 
        .checkbox_buttons__wrapper#first
                label(for="checkbox8")  
                    input(type="checkbox" id='checkbox8' class='checkbox_buttons_checklist__checkbox')
                    .checkbox_buttons_checklist__overlay
                    .checkbox_buttons_checkbox_value
                        span Можно курить
        .checkbox_buttons__wrapper   
                label(for="checkbox9")  
                    input(type="checkbox" id='checkbox9' class='checkbox_buttons_checklist__checkbox')
                    .checkbox_buttons_checklist__overlay   
                    .checkbox_buttons_checkbox_value
                        span Можно с питомцами    
        .checkbox_buttons__wrapper   
                label(for="checkbox10")  
                    input(type="checkbox" id='checkbox10' class='checkbox_buttons_checklist__checkbox')
                    .checkbox_buttons_checklist__overlay   
                    .checkbox_buttons_checkbox_value
                        span Можно пригласить гостей 
                        br 
                        span (до 10 человек)        