mixin 840_room()
    .room_840
        .room_840__img
            img(src="../src/images/840_room.png", alt="")
            .room_840__page
                .room_840__page__one
                .room_840__page__two
                .room_840__page__three
                .room_840__page__four
        .room_840__price  
            .room_840_number 
                span №
                    span 840 
                    span.luxe люкс
            .room_840_price 
                span 9900P 
                    span в сутки
        .room_840_line
        .room_840_feedback
            .room_840_feedback_stars
                +rate_button()
            .room_840_feedback_comment 
                span 65 
                    span Отзывов