.masked_text_field {
    width: 320px;
    height: 67px;
    display: flex;
    margin-left: 140px;
    margin-top: 200px;
    flex-direction: column;
    :focus::-webkit-input-placeholder {opacity:0;}/* webkit */
    :focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
    :focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
    :focus:-ms-input-placeholder      {opacity:0;}/* IE */
    position: relative;
    
    input {
        width: 320px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 15px;
    }
    input::placeholder { font-size: 14px; font-family: Montserrat; color: rgba(31, 32, 65, 0.25);}
    
    input:hover {
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
    }
    input:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
        outline: none;
    }
    .masked_text_field__span {
        margin-bottom: 5px;
    }
    span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
}