
mixin doughnut(title)
    .doughnut
        span= title
        .doughnut__diagram
            .doughnut__chart
            .doughnut__list
                .doughnut__list__one 
                    .doughnut__list__one-1 
                    span Великолепно
                .doughnut__list__two 
                    .doughnut__list__two-2 
                    span Хорошо
                .doughnut__list__three 
                    .doughnut__list__three-3 
                    span Удовлетворительно
                .doughnut__list__four 
                    .doughnut__list__four-4 
                    span Разочарован

    

