<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="app.css")
        link(rel="stylesheet", href="datepicker.min.css")
    body
        include components/room__search/room__search
        include components/enter/enter
        <script src="datepicker.min.js"></script>