.landing_page{ 
    .big_footer {
        margin-top: 0;
    }
    .header_autorize {
        margin-top: 0;
    } 
    &__background {
        position: relative;
        img {
            width: 100%;
            height: 830px;
            @media screen and (max-width: 783px){
                height: 730px;
            }
        }
        .room__search__wrapper {
            position: absolute;
            flex-basis: 380px;
            max-width: 380px;
            top: 70px;
            left: 140px;
            margin: 0;
            @media screen and (max-width: 996px){
                width: 50%;
                margin: auto;
                top: 20px; left: 0; right: 0;
            }
        }
        &__text {
            position: absolute;
            flex-basis: 277px;
            max-width: 277px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: rgba(31, 32, 65, 0.75);
            bottom: 18px;
            right: 134px;
            text-align: right;
            @media screen and (max-width: 996px){
                margin: auto;
                bottom: 10px; left: 0; right: 0;
                text-align: center;
                
            }
        }
    }
}