<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./dist/app.css")

        //- Подключение библиотеки jQuery
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

        //- Подключение плагина Air-Datepicker
        link(href="../air/air-datepicker/dist/css/datepicker.css" rel="stylesheet" type="text/css")
        script(src="../air/air-datepicker/dist/js/datepicker.js")
        
    body
        include ../Header&Footer/header_autorize/header_autorize
        include ../Form_Elements/buttons/buttons
        .landing_page   
            +header_autorize()
            .landing_page__background
                img(src="../src/images/landing_page.png", alt="")
                include ../components/room__search/room__search
                include ../Form_Elements/date_dropdown/date_dropdown
                include ../Form_Elements/dropdown/dropdown_vis
                include ../Form_Elements/dropdown_bedroom/dropdown_bedroom
                include ../Form_Elements/subscription_text_field/subscription_text_field
                +room__search()
                .landing_page__background__text Лучшие номера для вашей работы, отдыха и просто вдохновения
            include ../Header&Footer/big_footer/big_footer
            +big_footer()
        

        script(src='app.js')
