.filter_date_dropdown {
    width: 266px;
    height: 67px;
    display: flex;
    margin-left: 140px;
    margin-top: 50px;
    flex-direction: column;
    :focus::-webkit-input-placeholder {opacity:0;}/* webkit */
    :focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
    :focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
    :focus:-ms-input-placeholder      {opacity:0;}/* IE */
    position: relative;
    
    input {
        width: 266px;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 4px;
        padding-left: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
    }
    input::placeholder { font-size: 14px; font-family: Montserrat;}
    
    input:hover {
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
    }
    input:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
        outline: none;
    }
    .filter_date_dropdown__span {
        margin-bottom: 5px;
    }
    span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }
}

.filter_date_dropdown__input_svg {
    width: 44px;
    height: 44px;
    position: absolute;
    cursor: pointer;
    right: 0;
    line-height: 2.5;
    svg {
        
        padding-left: 15px;
    }
}