include ../like_button/like_button

mixin feedback_block(img, name, days, comm, like, num)
    .feedback_block
        .feedback_block_name
            .feedback_block_name_img
                img(src= img, alt="")
            .feedback_block_name_name 
                b= name
                    br 
                span= days
        .feedback_block_like
            +like_button(like, '', num).feedback_block_like_mixin
            .feedback_block_like_comment= comm