mixin like_button(title, checkboxNum)
    .like_button
        b= title 
        .like_button__container
            .like_button__wrapper#first
                label(for= checkboxNum)  
                    input(type="checkbox" id= checkboxNum class='like_button_checklist__checkbox')
                    .like_button_checklist__overlay
                        .like_button_checklist__overlay__heart
                            

                        .like_button_checklist__overlay__heart_num
                            span#like_span 0
                    .like_button_checkbox_value
