mixin rate_button() 

    <fieldset class="rating">
        <legend class="rating__caption">rate button</legend>
        <div class="rating__group">
            <input class="rating__star" type="radio" name="health" value="1" aria-label="Ужасно">
            <input class="rating__star" type="radio" name="health" value="2" aria-label="Сносно">
            <input class="rating__star" type="radio" name="health" value="3" aria-label="Нормально">
            <input class="rating__star" type="radio" name="health" value="4" aria-label="Хорошо">
            <input class="rating__star" type="radio" name="health" value="5" aria-label="Отлично">
            <div class="rating__focus"></div>
        </div>
    </fieldset>

    //- <div id="reviewStars-input">
    //-     <input id="star-4" type="radio" name="reviewStars"/>
    //-     <label title="gorgeous" for="star-4"></label>

    //-     <input id="star-3" type="radio" name="reviewStars"/>
    //-     <label title="good" for="star-3"></label>

    //-     <input id="star-2" type="radio" name="reviewStars"/>
    //-     <label title="regular" for="star-2"></label>

    //-     <input id="star-1" type="radio" name="reviewStars"/>
    //-     <label title="poor" for="star-1"></label>

    //-     <input id="star-0" type="radio" name="reviewStars"/>
    //-     <label title="bad" for="star-0"></label>
    //- </div>
