mixin like_button()
    .like_button
        b like button 
        .like_button__container
            .like_button__wrapper#first
                label(for="checkbox14")  
                    input(type="checkbox" id='checkbox14' class='like_button_checklist__checkbox')
                    .like_button_checklist__overlay
                        .like_button_checklist__overlay__heart
                            

                        .like_button_checklist__overlay__heart_num
                            span#like_span 0
                    .like_button_checkbox_value

                    