.room__search__wrapper {
    width: 380px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.room__search__text {
    width: 320px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

span {
    margin-bottom: 5px;
}

.room__search__input_inOut {
    display: flex;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

text-transform: uppercase;
}

.room__search__input_in{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.room__search__input_in input, .room__search__input_out input, .room__search__input_vis input{
    background: #FFFFFF;
/* Dark 25% */
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    height: 44px;
}

.room__search__input_out {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.room__search__input_vis {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-transform: uppercase;
}

.room__search__input_button {
    margin: 30px auto;
}

.room__search__input_button input {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: 0ch;
    width: 320px;
    height: 44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    color: white;
    text-align: center;
    text-transform: uppercase;
}

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "RalewayRegular"; 
    // адрес шрифта и тип 
    src: url("../../src/fonts/Montserrat-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 