.room__search__wrapper
    .room__search__text
        h1(class='room__search__h1') Найдём номера под ваши пожелания
    .room__search__input_inOut
        .room__search__input_in
            span прибытие
            input(type="text" placeholder='ДД.ММ.ГГГГ')
        .room__search__input_out
            span выезд
            input(type="text" placeholder='ДД.ММ.ГГГГ')
    .room__search__input_vis
        span гости
        input(type="text" placeholder='Сколько гостей')
    .room__search__input_button
        input(type="button" value='подобрать номер') 
        a(href="#")
            //- svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24")
            //-     path (d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z")
        img(src="../../src/icons/outline-arrow_forward-24px.svg", alt="")