.room__search__wrapper
    .room__search__text
        h1(class='room__search__h1') Найдём номера под ваши пожелания
    .room__search__input_inOut
        .room__search__input_in
            span прибытие
            input(type="text")
        .room__search__input_out
            span выезд
            input(type="text")
    .room__search__input_vis
        span гости
        input(type="text")
    .room__search__input_button
        input(type="button" value='подобрать номер') 
        