mixin toggle(title, toggleName)
    .toggle
        b= title 
        .toggle__container
            .toggle__wrapper#first
                label(for= toggleName)  
                    input(type="checkbox" id= toggleName class='toggle_checklist__checkbox')
                    .toggle_checklist__overlay
                        .toggle_checklist__overlay__radio
                    .toggle_checkbox_value
                        span Получать спецпредложения