mixin toggle()
    .toggle
        b toggle 
        .toggle__container
            .toggle__wrapper#first
                label(for="checkbox13")  
                    input(type="checkbox" id='checkbox13' class='toggle_checklist__checkbox')
                    .toggle_checklist__overlay
                        .toggle_checklist__overlay__radio
                    .toggle_checkbox_value
                        span Получать спецпредложения