mixin billet_list(text)
    .billet_list
        span= text
        .billet_list_content
            .billet_list_points
                .billet_list_point
                .billet_list_point_text
                    span Нельзя с питомцами
            .billet_list_points
                .billet_list_point
                .billet_list_point_text
                    span Без вечеринок и мероприятий
            .billet_list_points
                .billet_list_point#last
                .billet_list_point_text 
                    span Время прибытия — после 13:00, а выезд до 12:00
        