@font-face{
    font-family: Montserrat;    
    src: url('../../src/fonts/Montserrat/Montserrat-Regular.ttf');    
    font-weight: normal;    
    font-style: normal;    
}
@font-face{
    font-family: Montserrat;    
    src: url('../../src/fonts/Montserrat/Montserrat-Regular.woff');    
    font-weight: normal;    
    font-style: normal;    
}
@font-face{
    font-family: Montserrat;    
    src: url('../../src/fonts/Montserrat/Montserrat-Regular.svg');    
    font-weight: normal;    
    font-style: normal;    
}


/* _____________________________ */


@font-face{
    font-family: Montserrat;    
    src: url('../../src/fonts/Montserrat/Montserrat-Bold.ttf');    
    font-weight: bold;    
    font-style: normal;    
}
@font-face{
    font-family: Montserrat;    
    src: url('../../src/fonts/Montserrat/Montserrat-Bold.woff');    
    font-weight: bold;    
    font-style: normal;    
}
@font-face{
    font-family: Montserrat;    
    src: url('../../src/fonts/Montserrat/Montserrat-Bold.svg');    
    font-weight: bold;    
    font-style: normal;    
}


/* _____________________________ */



/* @font-face{
    font-family: 'Quicksand';    
    src: url('../fonts/Quicksand/Quicksand-Regular.ttf');    
    font-weight: normal;    
    font-style: normal;    
}
@font-face{
    font-family: 'Quicksand';    
    src: url('../fonts/Quicksand/Quicksand-Regular.woff');    
    font-weight: normal;    
    font-style: normal;    
}
@font-face{
    font-family: 'Quicksand';    
    src: url('../fonts/Quicksand/Quicksand-Regular.svg');    
    font-weight: normal;    
    font-style: normal;    
} */


/* _____________________________ */


/* @font-face{
    font-family: 'Quicksand';    
    src: url('../fonts/Quicksand/Quicksand-Bold.ttf');    
    font-weight: bold;    
    font-style: normal;    
}
@font-face{
    font-family: 'Quicksand';    
    src: url('../fonts/Quicksand/Quicksand-Bold.woff');    
    font-weight: bold;    
    font-style: normal;    
}
@font-face{
    font-family: 'Quicksand';    
    src: url('../fonts/Quicksand/Quicksand-Bold.svg');    
    font-weight: bold;    
    font-style: normal;    
} */

