.filter_page {
    .big_footer {
        border-top:  1px solid rgba(31, 32, 65, 0.25);
    }
    .header_autorize {
        margin-top: 0;
    }
    &__wrapper {
        display: flex;
        flex-basis: 1172px;
        padding: 0 140px;
        @media screen and(max-width: 800px) {
            flex-wrap: wrap;
        }
        &__filterBlock {
            width: 266px;
            margin-right: 60px;
            .filter_date_dropdown {
                margin: 30px 0 0 0;
                            
            }
            .dropdown_vis {
                margin: 20px 0 0 0;
                width: 266px;
                .dropdown_vis__input {
                    width: 266px;
                    input {
                        width: 266px;
                    }
                }
            }
            .range_slider {
                margin: 30px 0 0 0;
            }
            .checkbox_buttons{
                margin: 30px 0 0 0;
            }
            .rich_checkbox_buttons {
                margin: 30px 0 0 0;
            }
            .dropdown_bedroom {
                margin: 30px 0 0 0;
                width: 266px;
                .dropdown_bedroom__input {
                    width: 266px;
                    input {
                        width: 266px;
                    }
                }
            }
            .expendable_checkbox_list_wrapper {
                margin: 30px 0 0 0;
                width: 250px;
                .expendable_checkbox_list{
                    margin: 0;
                }
            }
        }
        &__roomsBlock {
            // flex-basis: 876px;
            &__text {
                flex-basis: 513px;
                height: 30px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 30px;
                color: #1F2041;
                margin-top: 30px;
            }
            &__rooms {
                margin-top: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                .room_888 {
                    margin: 0;
                    margin-right: 12px;
                    @media screen and(max-width:1188px){
                        margin-top: 20px;
                    }
                }
                .room_840 {
                    margin: 0;
                    margin-right: 12px;
                    @media screen and(max-width:1188px){
                        margin-top: 20px;
                    }
                }
                &__pag {
                    width: 100%;
                    margin-top: 40px;
                    margin-bottom: 70px;
                    .pagination {
                        width: 240px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}