.enter__wrapper
    .enter__text
        h1(class='enter__h1') Войти
    .enter__input_in
        input(type="text")
    .enter__input_out
        input(type="text")
    .enter__input_button
        input(type="button" value='подобрать номер')