<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        //- Подключение библиотеки jQuery
        link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

        //- Подключение плагина Air-Datepicker
        link(href="../air/air-datepicker/dist/css/datepicker.css" rel="stylesheet" type="text/css")
        script(src="../air/air-datepicker/dist/js/datepicker.js")

        <script src="//code.jquery.com/jquery-3.2.0.min.js"></script>
    


        //- Подключение шрифтов
        //- link(href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap" rel="stylesheet")
        //- link(rel="stylesheet", href="app.css")
        
    body
        .ui_kit_blocks
            .block1
                include Form_Elements/text_field/text_field
                +text_field('Данные', 'Email')
                .ico_svg
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25"/>
                    <path d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25"/>
                    <path d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25"/>
                    </svg>
                

                .dropdown_blocks
                    include Form_Elements/dropdown/dropdown_vis
                    +dropdown_vis('dropdown')

                    include Form_Elements/dropdown_bedroom/dropdown_bedroom
                    +dropdown_bedroom('dropdown')


                include Form_Elements/masked_text_field/masked_text_field
                +masked_text_field('masked text field')

                include Form_Elements/date_dropdown/date_dropdown
                +date_dropdown('date dropdown', 'date dropdown')

                include Form_Elements/filter_date_dropdown/filter_date_dropdown
                +filter_date_dropdown('filter date dropdown')

                include Form_Elements/subscription_text_field/subscription_text_field
                +subscription_text_field('subscription text field', 'Email')

                include Form_Elements/expendable_checkbox_list/expendable_checkbox_list
                +expendable_checkbox_list('expendable_checkbox_list')

                include Form_Elements/comfort/comfort
                +comfort()

                

            .block2
                include Form_Elements/checkbox_buttons/checkbox_buttons
                +checkbox_buttons()

                include Form_Elements/radio_buttons/radio_buttons
                +radio_buttons('radio buttons', 'checkbox11', 'checkbox12')

                include Form_Elements/toggle/toggle
                +toggle('toggle', 'checkbox13')

                include Form_Elements/like_button/like_button
                +like_button('12', 'like button', 'checkbox14')

                include Form_Elements/rate_button/rate_button
                +rate_button('rate buttons')

                include Form_Elements/rich_checkbox_buttons/rich_checkbox_buttons
                +rich_checkbox_buttons()
                
                include Form_Elements/billet_list/billet_list
                +billet_list('bulliet list')

                include Form_Elements/feedback_block/feedback_block
                +feedback_block('../src/icons/feedback.png', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.','12', 'checkbox114')

            .block3
                include Form_Elements/buttons/buttons
                
                +buttons('butons')
                +button__one('click me')
                +button__pay('перейти к оплате')
                +button__click_me_two('click me')

                include Form_Elements/pagination/pagination
                +pagination('pagination')

                include Form_Elements/range_slider/range_slider
                +range_slider('диапазон цены')

                include Form_Elements/doughnut/doughnut
                +doughnut('')

            .block4 
                include components/room__search/room__search
                +room__search()

                include components/roomNumber__888/roomNumber__888
                +roomNumber__888()

                include components/calendar/calendar
                +calendar()

                .rooms_block
                    include components/888_room/888_room
                    +888_room()

                    include components/840_room/room_840
                    +840_room()

                include components/enter/enter
                +enter()

                include components/registration/registration
                +registration()
        
        include Header&Footer/header_autorize/header_autorize
        +header_autorize()

        include Header&Footer/header/header
        +header()

        include Header&Footer/big_footer/big_footer
        +big_footer()

        include Header&Footer/footer/footer
        +footer()




            
        .innzare
            span INNZARE
        //- script(src="app.js")