.expendable_checkbox_list_wrapper{
    width: 275px;
    margin-left: 140px;
    .expendable_checkbox_list {
        height: 14px;
        position: relative;
        margin-top: 50px;
        display: flex;
        span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #1F2041;
        }
        .expendable_checkbox_list__svg{
            width: 14px;
            height: 14px;
            position: absolute;
            cursor: pointer;
            right: 0;
            svg {
                padding-bottom: 1px;
            }
        }
        .expendable_checkbox_list__svgg {
            width: 14px;
            height: 14px;
            position: absolute;
            cursor: pointer;
            transform:rotate(180deg);
            right: 0;
            margin-top: 3px;
        }
    }

    .expendable_checkbox_list__content {
        display: none;
        width: 275px;
        margin-top: 18px;
        position: relative;
        input[type="checkbox"] {
            display: none;
        }
        label {
            display: flex;
            align-items: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: rgba(31, 32, 65, 0.5);
            margin-bottom: 0px;
        }
        ::selection {
            background: transparent;
        }
        .checklist__overlay {
            margin-left: 1px;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 20px;
            height: 20px;
            border-radius: 4px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            top: 0px;
            left: -1px;
            background-color: white;
            box-sizing: border-box;
        }
        .checklist__name {
            display: inline-block;
            margin-left: 30px;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        
        .checklist__checkbox:checked + .checklist__overlay {
            border: 1px solid #BC9CFF;
            background-image:  url('https://svgshare.com/getbyhash/sha1-hy2oPMJxARkVfIJ2Z8P4u6OaGiY=');
            background-repeat: no-repeat;
            background-position: 50%;
        }
        .checkbox_value {
            margin-bottom: 8.5px;
        } 
    }     
}

.innzare {
    width: 100px;
    height: 20px;
    margin: 500px 0 0 150px;

    span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 15px;
        text-transform: uppercase;
        color: #1F2041;
    }
}